

 <ul class="nav nav-pills nav-stacked">
  <li class="navbar-brand"><i class="fa fa-futbol-o" aria-hidden="true"></i>Championnats</li>
  {% render(controller('FootstatBundle:Championnats:Menu')) %}
  
</ul>