

<div class="row bg-primary" style="margin-right: 10px;">
    <p class="text-center" style="margin-top: 5px;"><span class="glyphicon glyphicon-globe"></span>  Championnats</p>
            </div>
<div class="row" style="margin-right: 10px;">
            <ul class="list-unstyled" style="background-color: #eee;">
                {% render(controller('FootstatBundle:Championnats:Menu')) %} 
            </ul>
</div>