
{% extends "FOSUserBundle::layout.html.twig" %}


{% block body %}
    <div class="col-sm-2">
        <div class="list-group">
            {% include '::modulesUsed/navigation.html.twig' %}
        </div>    
    </div>

    <div class="col-sm-10">
        <h4>Mes équipes Favoris</h4>
    {% if user.equipes| length>0 %}
    {% for equipe in user.equipes %}
    <p>{{ equipe.nom }}</p>
    {% endfor %}
    {% endif %}

</div>

{% endblock body %}

