

{% if user.equipes| length>0 %}
    {% for equipe in user.equipes %}
        
        <li style="padding: 5px;height: 30px;"><img src="{{ asset('img/' ~ equipe.Media.url ~ '') }}" width="20" height="20"> <a href="{{ path('EquipePresentation', {'equipe': equipe.id}) }}">{{ equipe.nom }}</a></li>
 
    {% endfor %}
{% endif %}
