{% extends "::layout/layout.html.twig" %}  
{% block body %}
                
    <div class="col-sm-2">
        <div class="list-group">
            {% include '::modulesUsed/navigation.html.twig' %}
        </div>    
    </div>

    <div class="col-sm-10">
        <h3>Les favoris</h3>
        
        <div class="well">
            {% if equipes|length != 0 %}
            <ul>
                {% for equipe in equipes %}
                    <li class="col-sm-2 thumbnail">
                        
                        <a href="{{ path('EquipePresentation', {'equipe': equipe.id}) }}"><h5>{{ equipe.nom }}</h5></a>
                        <a href="#" class="supprfav" ideq="{{ equipe.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Aucune equipe
        {% endif %}
        </div>
    </div>
{% endblock %}