{% if championnats|length != 0 %}
    {% for championnat in championnats %}
        
        <li class="sty-table" style="padding: 5px;height: 30px;"><a href="{{ path('ChampionnatEquipes', {'championnat': championnat.id}) }}" ><img src="{{ championnat.Media.url }}" width="20" height="20">  {{ championnat.nom }}</a></li>
 
    {% endfor %}
{% endif %}

            