{% if championnats|length != 0 %}
    {% for championnat in championnats %}
        
      <li><a href="{{ path('ChampionnatEquipes', {'championnat': championnat.id}) }}" class="list-group-item">{{ championnat.nom }}</a></li>
 
    {% endfor %}
{% endif %}

            